div.col {
  padding-top: 50px;
  border-radius: 500px;
  background-color: mediumaquamarine;

  text-align: center;
  font-size: 50px;
  color: mintcream;
}

li {
  list-style-type: none;
}

li::first-letter {
  text-transform: capitalize;
}
