.toolbar {
  padding-top: 50px;
  border-radius: 500px;
  background-color: mediumaquamarine;

  text-align: center;
  font-size: 50px;
  color: mintcream;
}

li {
  list-style-type: none;
  padding: 5%;
}

.PerDiem {
  background-color: blue;
}
